.container {
  max-width: 1100px;
}

h3 {
  letter-spacing: 0.5px;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table tbody tr:hover {
  background-color: #fff7e6;
  transition: 0.3s;
}

.btn-warning {
  background-color: #f7b731;
  border: none;
}

.btn-warning:hover {
  background-color: #f5a623;
}
